<h1>Asignación de Seminario de Software</h1>
<h2>Ejercicio de Rutas POST y GET</h2>
<section>
  <h3>Instrucciones</h3>
  <p>Deberá crear en <em>routes/index.hj</em> dos rutas:
  <ol>
    <li><em>/calculator (get)</em> que muestre un formulario que obtenga dos números y 
     de un combo la operación (suma, resta, multiplicación, división)</li>
    <li><em>/calculator (post)</em> que obtenga del <b>body</b> los números y mostrar el resultado según la operación seleccionada </li>
  </ol>
  </p>
  <p>
    Para entregar deberá realizar un push al repositorio que clono para obtener 
    un puntaje por el desarrollo.
  </p>
  <p>
    Éxitos
  </p>
</section>
